<div class="inspiry_show_on_doc_ready rh_prop_search rh_prop_search_init">
    <form
      class="rh_prop_search__form rh_prop_search_form_header advance-search-form"
      action="/search"
      method="post"
    >
      <div class="rh_prop_search__fields">
        <div
          class="rh_prop_search__wrap rh_prop_search_data"
          id="rh_fields_search__wrapper"
          data-top-bar="3"
        >
          <div class="rh_form_fat_top_fields rh_search_top_field_common">
            <div
              class="inspiry_select_picker_field rh_prop_search__option rh_location_prop_search_0 rh_prop_search__select"
              data-get-location-placeholder="Any"
            >
              <label for="location"> Location </label>

              <span class="rh_prop_search__selectwrap">
                <select
                  id="location"
                  class="inspiry_multi_select_picker_location inspiry_select_picker_trigger show-tick"
                  data-size="5"
                  data-live-search="true"
                  data-none-results-text="No results matched{0}"
                  data-none-selected-text="Any"
                  name="location[]"
                  data-selected-text-format="count > 2"
                  multiple="multiple"
                  data-actions-box="true"
                  title="All Locations"
                  data-count-selected-text="{0}  Locations Selected "
                ></select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select rh_status_field_wrapper inspiry_select_picker_field"
            >
              <label for="select-status"> Property Status </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="status"
                  id="select-status"
                  class="inspiry_select_picker_trigger inspiry_select_picker_status show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="Sale">For Rent</option>
                  <option value="Rent">For Sale</option>
                  <option value="Offplan">Off Plan</option>

                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select rh_type_field_wrapper inspiry_select_picker_field"
            >
              <label for="select-property-type"> Property Type </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="type[]"
                  id="select-property-type"
                  class="inspiry_select_picker_trigger show-tick"
                  data-selected-text-format="count > 2"
                  data-actions-box="true"
                  data-size="5"
                  data-live-search="true"
                  multiple
                  title="All Types"
                  data-count-selected-text="{0}  Types Selected "
                >
                <option value="Apartment">Apartment</option>
                <option value="Flat">Flat</option>
                <option value="Residential House">Residential House</option>
                <option value="Villa">Villa</option>
                <option value="Builder Floor Apartment">Builder Floor Apartment</option>
                <option value="Residential Land/ Plot">Residential Land/ Plot</option>
                <option value="Penthouse">Penthouse</option>
                <option value="Studio Apartment">Studio Apartment</option>
                <option value="Commercial">Commercial</option>
                <option value="Office">Office</option>
                <option value="Shop">Shop</option>
  
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select rh_beds_field_wrapper inspiry_select_picker_field"
            >
              <label for="select-bedrooms"> Min Beds </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="bedrooms"
                  id="select-bedrooms"
                  class="inspiry_select_picker_trigger show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select rh_baths_field_wrapper inspiry_select_picker_field"
            >
              <label for="select-bathrooms"> Min Baths </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="bathrooms"
                  id="select-bathrooms"
                  class="inspiry_select_picker_trigger show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </span>
            </div>
            <div
              class="rh_prop_search__option rh_prop_search__select price-for-others inspiry_select_picker_field"
            >
              <label for="select-min-price"> Min Price </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="min-price"
                  id="select-min-price"
                  class="inspiry_select_picker_trigger inspiry_select_picker_price show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="1000">1,000</option>
                  <option value="5000">5,000</option>
                  <option value="10000">10,000</option>
                  <option value="50000">50,000</option>
                  <option value="100000">100,000</option>
                  <option value="200000">200,000</option>
                  <option value="300000">300,000</option>
                  <option value="400000">400,000</option>
                  <option value="500000">500,000</option>
                  <option value="600000">600,000</option>
                  <option value="700000">700,000</option>
                  <option value="800000">800,000</option>
                  <option value="900000">900,000</option>
                  <option value="1000000">1,000,000</option>
                  <option value="1500000">1,500,000</option>
                  <option value="2000000">2,000,000</option>
                  <option value="2500000">2,500,000</option>
                  <option value="5000000">5,000,000</option>
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select price-for-others inspiry_select_picker_field"
            >
              <label for="select-max-price"> Max Price </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="max-price"
                  id="select-max-price"
                  class="inspiry_select_picker_trigger inspiry_select_picker_price show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="5000">5,000</option>
                  <option value="10000">10,000</option>
                  <option value="50000">50,000</option>
                  <option value="100000">100,000</option>
                  <option value="200000">200,000</option>
                  <option value="300000">300,000</option>
                  <option value="400000">400,000</option>
                  <option value="500000">500,000</option>
                  <option value="600000">600,000</option>
                  <option value="700000">700,000</option>
                  <option value="800000">800,000</option>
                  <option value="900000">900,000</option>
                  <option value="1000000">1,000,000</option>
                  <option value="1500000">1,500,000</option>
                  <option value="2000000">2,000,000</option>
                  <option value="2500000">2,500,000</option>
                  <option value="5000000">5,000,000</option>
                  <option value="10000000">10,000,000</option>
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select price-for-rent hide-fields inspiry_select_picker_field"
            >
              <label for="select-min-price-for-rent"> Min Price </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="min-price"
                  id="select-min-price-for-rent"
                  class="inspiry_select_picker_trigger inspiry_select_picker_price show-tick"
                  data-size="5"
                  disabled="disabled"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="500">500</option>
                  <option value="1000">1,000</option>
                  <option value="2000">2,000</option>
                  <option value="3000">3,000</option>
                  <option value="4000">4,000</option>
                  <option value="5000">5,000</option>
                  <option value="7500">7,500</option>
                  <option value="10000">10,000</option>
                  <option value="15000">15,000</option>
                  <option value="20000">20,000</option>
                  <option value="25000">25,000</option>
                  <option value="30000">30,000</option>
                  <option value="40000">40,000</option>
                  <option value="50000">50,000</option>
                  <option value="75000">75,000</option>
                  <option value="100000">100,000</option>
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select price-for-rent hide-fields inspiry_select_picker_field"
            >
              <label for="select-max-price-for-rent"> Max Price </label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="max-price"
                  id="select-max-price-for-rent"
                  class="inspiry_select_picker_trigger inspiry_select_picker_price show-tick"
                  data-size="5"
                  disabled="disabled"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="1000">1,000</option>
                  <option value="2000">2,000</option>
                  <option value="3000">3,000</option>
                  <option value="4000">4,000</option>
                  <option value="5000">5,000</option>
                  <option value="7500">7,500</option>
                  <option value="10000">10,000</option>
                  <option value="15000">15,000</option>
                  <option value="20000">20,000</option>
                  <option value="25000">25,000</option>
                  <option value="30000">30,000</option>
                  <option value="40000">40,000</option>
                  <option value="50000">50,000</option>
                  <option value="75000">75,000</option>
                  <option value="100000">100,000</option>
                  <option value="150000">150,000</option>
                </select>
              </span>
            </div>

            <div
              class="rh_prop_search__option rh_prop_search__select rh_garages_field_wrapper inspiry_select_picker_field"
            >
              <label for="select-garages"> Furnished Status</label>
              <span class="rh_prop_search__selectwrap">
                <select
                  name="garages"
                  id="select-garages"
                  class="inspiry_select_picker_trigger show-tick"
                  data-size="5"
                >
                  <option value="any" selected="selected">Any</option>
                  <option value="Fully furnished">Fully furnished</option>
              <option value="Furnished">Furnished</option>
              <option value="Semi furnished">Semi furnished</option>
              <option value="Unfurnished">Unfurnished</option>
                </select>
              </span>
            </div>
            
            <div
              class="rh_prop_search__option rh_mod_text_field rh_min_area_field_wrapper"
            >
              <label for="min-area">
                <span class="label"> Min Area </span>
                <span class="unit"> (sq ft) </span>
              </label>
              <input
                type="text"
                autocomplete="off"
                name="min-area"
                id="min-area"
                pattern="[0-9]+"
                value=""
                placeholder="Any"
                title="Only provide digits!"
              />
            </div>

            <div
              class="rh_prop_search__option rh_mod_text_field rh_max_area_field_wrapper"
            >
              <label for="max-area">
                <span class="label"> Max Area </span>
                <span class="unit"> (sq ft) </span>
              </label>
              <input
                type="text"
                autocomplete="off"
                name="max-area"
                id="max-area"
                pattern="[0-9]+"
                value=""
                placeholder="Any"
                title="Only provide digits!"
              />
            </div>
            <div
              class="rh_prop_search__option rh_mod_text_field rh_keyword_field_wrapper"
            >
              <label for="keyword-txt"> Keyword </label>
              <input
                type="text"
                name="keyword"
                id="keyword-txt"
                autocomplete="off"
                value=""
                placeholder="Any"
              />
            </div>
            <div
              class="rh_prop_search__option rh_mod_text_field rh_prop_id_field_wrapper"
            >
              <label for="property-id-txt"> Property ID </label>
              <input
                type="text"
                name="property-id"
                autocomplete="off"
                id="property-id-txt"
                value=""
                placeholder="Any"
              />
            </div>
          </div>

          <div class="rh_form_fat_collapsed_fields_wrapper">
            <div
              class="rh_form_fat_collapsed_fields_container rh_search_fields_prepend_to"
            ></div>
            <div class="more-options-mode-container">
              <div
                class="more-options-wrapper more-options-wrapper-mode clearfix checkbox"
              >
             
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-2-stories"
                    name="features[]"
                    value="2-stories"
                  />
                  <label for="feature-2-stories"
                    >2 Stories </label
                  >
                </div>
               
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-26-ceilings"
                    name="features[]"
                    value="nearcommonarea"
                  />
                  <label for="feature-26-ceilings"
                    >Near Common Area</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-bike-path"
                    name="features[]"
                    value="attahed-balcony"
                  />
                  <label for="feature-bike-path"
                    >Attached Balcony</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-central-cooling"
                    name="features[]"
                    value="central-cooling"
                  />
                  <label for="feature-central-cooling"
                    >Central Cooling</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-central-heating"
                    name="features[]"
                    value="central-heating"
                  />
                  <label for="feature-central-heating"
                    >Central Heating</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-dual-sinks"
                    name="features[]"
                    value="facing-main-road"
                  />
                  <label for="feature-dual-sinks"
                    >Facing Main Road</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-electric-range"
                    name="features[]"
                    value="gated-colony"
                  />
                  <label for="feature-electric-range"
                    >Gated Colony</label
                  >
                </div>
              
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-fire-place"
                    name="features[]"
                    value="fire-place"
                  />
                  <label for="feature-fire-place"
                    >Fire Place</label
                  >
                </div>
            
               
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-laundry-room"
                    name="features[]"
                    value="laundry-room"
                  />
                  <label for="feature-laundry-room"
                    >Laundry Room</label
                  >
                </div>
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-lawn"
                    name="features[]"
                    value="lawn"
                  />
                  <label for="feature-lawn">Lawn </label>
                </div>
             
             
                <div class="option-bar">
                  <input
                    type="checkbox"
                    id="feature-swimming-pool"
                    name="features[]"
                    value="swimming-pool"
                  />
                  <label for="feature-swimming-pool"
                    >Swimming Pool</label
                  >
                </div>
              </div>
              <span class="open_more_features">
                Looking for certain features
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.rh_prop_search__fields -->

      <div class="rh_prop_search__buttons">
        <div class="rh_prop_search__btnWrap clearfix">
          <div class="rh_prop_search__advance">
            <a href="#" class="rh_prop_search__advance_btn">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <g data-name="137-Zoom">
                  <circle class="icon-search-plus" cx="12" cy="12" r="11" />
                  <line
                    class="icon-search-plus"
                    x1="20"
                    x2="31"
                    y1="20"
                    y2="31"
                  />
                  <line
                    id="rh_icon__search"
                    class="icon-search-plus"
                    x1="12"
                    x2="12"
                    y1="6"
                    y2="18"
                  />
                  <line
                    class="icon-search-plus"
                    x1="18"
                    x2="6"
                    y1="12"
                    y2="12"
                  />
                </g>
              </svg>
            </a>

           
          </div>
          <div class="rh_prop_search__searchBtn">
            <button class="rh_btn rh_btn__prop_search" type="submit">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <g data-name="32-Search">
                  <circle class="icon-search" cx="12" cy="12" r="11" />
                  <line
                    class="icon-search"
                    x1="20"
                    x2="31"
                    y1="20"
                    y2="31"
                  />
                </g>
              </svg>
              <span> Search </span>
            </button>
          </div>
        </div>
        <!-- /.rh_prop_search__btnWrap -->
      </div>
      <!-- /.rh_prop_search__buttons -->
    </form>
    <!-- /.rh_prop_search__form -->
  </div>