<section
id="rh_slider__home"
class="rh_slider rh_cfos_slider rh_slider_mod clearfix"
>
<div class="cfos_inner_container">
  <div class="flexslider loading rh_home_load_height">
    <ul class="slides">
      <li>
        <a
          class="slide"
          href="#"
          style="
            background: url('/assets/img/dubai4.jpeg')
              50% 50% no-repeat;
            background-size: cover;
          "
        >
        </a>
      
      </li>
      <li>
        <a
          class="slide"
          href="#"
          style="
            background: url('/assets/img/dubai1.jpeg')
              50% 50% no-repeat;
            background-size: cover;
          "
        >
        </a>
      
      </li>
      <li>
        <a
          class="slide"
          href="#"
          style="
            background: url('/assets/img/dubai3.jpeg')
              50% 50% no-repeat;
            background-size: cover;
          "
        >
        </a>
    
      </li>
    </ul>
  </div>
  <div class="rh_flexslider__nav_main">
    <a href="#" class="flex-prev rh_flexslider__prev">
      <svg
        class="arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 48 48"
      >
        <g fill="none">
          <circle class="cls-1" cx="24" cy="24" r="24" fill="#EA723D" />
          <path
            class="cls-2"
            d="M16.5 25.6L24 26.4 24 31.1 33 24.1 24 17.1 24 21.7 16.5 22.5C16.1 22.5 15.7 22.6 15.4 22.9 15.1 23.2 15 23.6 15 24.1 15 24.5 15.1 24.9 15.4 25.1 15.7 25.4 16.1 25.6 16.5 25.6Z"
            fill="#FFF"
          />
        </g>
      </svg>
    </a>
    <!-- /.rh_flexslider__prev -->
    <a href="#" class="flex-next rh_flexslider__next">
      <svg
        class="arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 48 48"
      >
        <g fill="none">
          <circle class="cls-1" cx="24" cy="24" r="24" fill="#EA723D" />
          <path
            class="cls-2"
            d="M16.5 25.6L24 26.4 24 31.1 33 24.1 24 17.1 24 21.7 16.5 22.5C16.1 22.5 15.7 22.6 15.4 22.9 15.1 23.2 15 23.6 15 24.1 15 24.5 15.1 24.9 15.4 25.1 15.7 25.4 16.1 25.6 16.5 25.6Z"
            fill="#FFF"
          />
        </g>
      </svg>
    </a>
    <!-- /.rh_flexslider__next -->
  </div>
</div>
<div class="rh_cfos_slide_desc">
  <div class="rh_cfos_wrap cfos_expand_width cfos_hide_labels">
    <div class="rh_cfos">
      <span class="cfos_phone_icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
          <path
            d="M18.3 15.3c-0.4 0-0.6 0.2-0.7 0.3l-1.5 1.5c0 0-0.1 0-0.2 0 -0.8 0-2.6-0.9-4.3-2.6 -2.3-2.3-2.8-4.3-2.6-4.5l1.5-1.5c1-1-0.8-3-1.9-4.1C8.1 3.8 6.3 2.1 5.2 2.1c-0.4 0-0.6 0.2-0.7 0.3l-3 3c-0.9 0.9-0.6 2.6 0.9 5.1 1.3 2.2 3.4 4.7 5.8 7.2C11.9 21.3 16.7 25 19.3 25h0c0.7 0 1.1-0.3 1.3-0.5l3-3c1-1-0.8-3-1.9-4.1C21.2 16.9 19.4 15.3 18.3 15.3zM19.5 23.4C19.5 23.5 19.4 23.5 19.3 23.5c-1.5 0-5.5-2.4-9.9-6.8 -2.4-2.4-4.4-4.8-5.6-6.9C2.3 7.5 2.4 6.6 2.6 6.5l2.8-2.8c0.4 0.2 1.2 0.7 2.2 1.7 1 1 1.5 1.8 1.7 2.2L7.9 8.9c-1.4 1.4 0.4 4.4 2.6 6.6 1.9 1.9 4 3.1 5.3 3.1 0.7 0 1.1-0.3 1.3-0.5l1.3-1.3c0.4 0.2 1.2 0.7 2.2 1.7 1 1 1.5 1.8 1.7 2.2L19.5 23.4z"
            class="a"
          />
          <path
            d="M22.5 3.5C20.8 1.9 18.7 1 16.3 1c0 0 0 0 0 0 -0.4 0-0.7 0.3-0.7 0.8s0.3 0.8 0.8 0.8c0 0 0 0 0 0 1.9 0 3.7 0.7 5.1 2.1C22.8 5.9 23.5 7.7 23.5 9.7c0 0.4 0.3 0.8 0.8 0.8s0.8-0.3 0.8-0.7C25 7.3 24.1 5.2 22.5 3.5z"
            class="a"
          />
          <path
            d="M15.4 5.5c0 0 0 0 0 0 1.4 0 2.7 0.5 3.7 1.5 1 1 1.5 2.3 1.5 3.7 0 0.4 0.3 0.8 0.8 0.8s0.8-0.3 0.8-0.7c0-1.8-0.7-3.5-2-4.7 -1.3-1.3-2.9-2-4.7-2 0 0 0 0 0 0 -0.4 0-0.7 0.3-0.7 0.8S14.9 5.5 15.4 5.5z"
            class="a"
          />
          <path
            d="M14.4 8.4c0 0 0 0 0 0 0.9 0 1.7 0.3 2.3 0.9 0.6 0.6 0.9 1.4 0.9 2.3 0 0.4 0.3 0.8 0.8 0.8s0.8-0.3 0.8-0.7c0-1.3-0.5-2.4-1.4-3.3C16.8 7.4 15.6 6.9 14.4 6.9c0 0 0 0 0 0 -0.4 0-0.7 0.3-0.7 0.8S14 8.4 14.4 8.4z"
            class="a"
          />
        </svg>
      </span>
      <div class="rh_cfos_labels">
        <h3 class="rh_cfos_cta_title">Let Us Call You!</h3>

        <span class="rh_cfos_cta_text"
          >To help you choose your property</span
        >
      </div>

      <form
        class="cfos_contact_form contact-form"
        id="contactform"
        autocomplete="off"
      >
        <div class="cfos_half cfos_field_wrapper cfos_name_field">
          <!--					<label for="cfos-name">-->
          <!--</label>-->
          <input
            class="cfos_field required"
            type="text"
            name="name"
            id="cfos-name"
            placeholder="Your Name"
            title="* Please provide Name"
          />
        </div>

        <div class="cfos_half cfos_field_wrapper cfos_number_field">
          <!--                    <label for="cfos-number">-->
          <!--</label>-->

          <input
            class="cfos_field"
            autocomplete="off"
            type="tel"
            name="number"
            placeholder="Your Number"
          />
        </div>

        <div class="cfos_full cfos_field_wrapper cfos_email_field">
          <!--					<label for="cfos-email">-->
          <!--</label>-->
          <input
            class="cfos_field required"
            type="email"
            name="email"
            id="cfos-email"
            placeholder="Your Email"
          />
        </div>

        <div class="cfos_full cfos_field_wrapper cfos_textarea_field">
          <label for="cfos-message">Message</label>
          <textarea
            cols="40"
            rows="6"
            name="message"
            id="cfos-message"
            class="cfos_text_field required"
            placeholder="Tell us about desired property"
            title="* Please provide Message"
          ></textarea>
        </div>

        <div
          class="cfos_field_wrapper rh_inspiry_gdpr rh_contact__input clearfix"
        >
          <span class="gdpr-checkbox-label"
            >GDPR Agreement <span class="required-label">*</span></span
          ><input
            type="checkbox"
            name="gdpr"
            id="inspiry-gdpr"
            class="required"
            value="I consent to having this website store my submitted information so they can respond to my inquiry."
            title="* Please accept GDPR agreement"
          /><label for="inspiry-gdpr"
            >I consent to having this website store my submitted
            information so they can respond to my inquiry.</label
          >
        </div>
        <div
          class="cfos_field_wrapper cfos_recaptcha rh_contact__input rh_contact__input_recaptcha inspiry-recaptcha-wrapper clearfix"
        >
          <div class="inspiry-google-recaptcha"></div>
        </div>

        <div
          class="cfos_btn_wrapper cfos_full rh_contact__input rh_contact__submit"
        >
          <input
            type="submit"
            id="submit-button"
            value="Submit"
            class="cfos_submit rh_btn rh_btn--primary"
            name="submit"
          />
        

          <!--                        <input type="hidden" name="target" value="--><!--">-->

          <input
            type="hidden"
            name="action"
            value="send_message_cfos"
          />
          <input type="hidden" name="the_id" value="7072" />
          <!--                        <input type="hidden" id="cfos_full_number" name="full_phone">-->
          <input type="hidden" name="nonce" value="ab3f200ccf" />
        </div>

        <div class="inspiry_error_messages">
          <div id="error-container"></div>
          <div id="message-container"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.rh_slide__desc -->
</div>
</section>