<section id="rh_slider__home" class="rh_slider rh_slider_mod clearfix">
  <div class="flexslider loading rh_home_load_height">
    <ul class="slides">
                  <li>

            <a class="slide" href="#"
               style="background: url('/frontend/wp-content/uploads/2017/06/slide-one.jpg') 50% 50% no-repeat;
                   background-size: cover;">
            </a>

           
            <!-- /.rh_slide__desc -->

          </li>
                      <li>

            <a class="slide" href="#"
               style="background: url('/frontend/wp-content/uploads/2017/06/slide-two.jpg') 50% 50% no-repeat;
                   background-size: cover;">
            </a>

         
            <!-- /.rh_slide__desc -->

          </li>
                      <li>

            <a class="slide" href="#"
               style="background: url('/frontend/wp-content/uploads/2017/06/slide-three-1.jpg') 50% 50% no-repeat;
                   background-size: cover;">
            </a>

           
            <!-- /.rh_slide__desc -->

          </li>
                </ul>
  </div>
  <div class="rh_flexslider__nav_main">
    <a href="#" class="flex-prev rh_flexslider__prev">
      <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
<g fill="none">
    <circle class="cls-1" cx="24" cy="24" r="24" fill="#EA723D"/>
    <path class="cls-2" d="M16.5 25.6L24 26.4 24 31.1 33 24.1 24 17.1 24 21.7 16.5 22.5C16.1 22.5 15.7 22.6 15.4 22.9 15.1 23.2 15 23.6 15 24.1 15 24.5 15.1 24.9 15.4 25.1 15.7 25.4 16.1 25.6 16.5 25.6Z" fill="#FFF"/>
</g>
</svg>			</a>
    <!-- /.rh_flexslider__prev -->
    <a href="#" class="flex-next rh_flexslider__next">
      <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
<g fill="none">
    <circle class="cls-1" cx="24" cy="24" r="24" fill="#EA723D"/>
    <path class="cls-2" d="M16.5 25.6L24 26.4 24 31.1 33 24.1 24 17.1 24 21.7 16.5 22.5C16.1 22.5 15.7 22.6 15.4 22.9 15.1 23.2 15 23.6 15 24.1 15 24.5 15.1 24.9 15.4 25.1 15.7 25.4 16.1 25.6 16.5 25.6Z" fill="#FFF"/>
</g>
</svg>			</a>
    <!-- /.rh_flexslider__next -->
  </div>
</section>