<div
class="rh_gallery__item isotope-item rh_gallery--3-columns status-2 for-sale"
>
<figure>
  <a href="/buildtypes/<%=link%>" class="media_container">

  </a>
  <img
    class="img-border"
    src="<%= image %>"
    alt="Home in Merrick Way"
  />
</figure>
<h5 class="item-title entry-title">
  <a href="/buildtypes/<%=link%>"
    ><%= button %></a
  >
</h5>


</div>



