<%- include('./include/dashboardhead.ejs') -%>



    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="row">
              <!-- Basic -->
              <div class="col-md-6" style="height: 100%;overflow-y: scroll;">
                <div class="card mb-4">
                  <h5 class="card-header">Category</h5>
                  <div class="card-body demo-vertical-spacing demo-only-element">
            
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Category name" id="categoryname" required  aria-describedby="basic-addon11">
                    </div>

                    <a href="#" class="btn btn-primary" id="addCategoryBtn"> Add New Category</a>
            
 <!-- Category card with single line layout using pbootstrap classes -->
 <div id="categoryList">

</div>
                  </div> 
                              

                </div>

              </div>
            
              <!-- Merged -->
              <div class="col-md-6 d-none" id="featuresdiv" style="height: 100%;overflow-y: scroll;">
                <div class="card mb-4">
                  <h5 class="card-header" id="featuresheader">Features</h5>
                  <div class="card-body demo-vertical-spacing demo-only-element">
            
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Feature" id="newFeature" required aria-describedby="basic-addon11">
                    </div>

                    <a href="#" onclick="addFeature()" id="addfeaturbtn" class="btn btn-primary"> Add New Feature</a>
            
                    <div id="featureslist">

                    </div>
                  </div>
                </div>
              </div>
              <!-- Sizing -->
            
              <!-- Checkbox and radio addons -->
           
            </div>
       
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


 <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/scripts/category.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/ui-modals.js"></script>


                                    
                                        <%- include('./include/end.ejs') -%>