<%- include('./include/dashboardhead.ejs') -%>
<div class="modal fade hidden" id="modalCenter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Add New Place</h5>
      
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="name" class="form-label">Location Name</label>
            <input required type="text" id="name" class="form-control" placeholder="Enter Name">
          </div>
          <div class="col mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" id="image" class="form-control" placeholder="Enter Name">
          </div>
          </div>

          <div class="row">
          <div class="col mb-3">
            <label for="description" class="form-label">Description</label>
            <input required type="text" id="description" class="form-control" placeholder="Enter Name">
          </div>
          <div class="col mb-3">
            <label for="highlighted" class="form-label">Highlight</label>
            <select required name="highlighted" class="form-control" id="highlighted">
              <option value="True">True</option>
              <option value="False">False</option>

            </select>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeModalBtn" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button"  onclick="addPlace()" id="submitbutton" class="btn btn-primary">Add Place</button>
      </div>
    </div>
  </div>
</div>
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="card">
              <div class="card-body">
                <button type="button" onclick="openAddModal()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter">
                  Add new place
                </button>
             
                <div class="table-responsive text-nowrap p-4">
                    <table class="table" id="example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Highlighted</th>
                                <th>Properties</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="placesTableBody">
                  
   
    </tbody>
  </table>

</div>
</div>
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

 <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/scripts/places.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/ui-modals.js"></script>


                                  
                                        <%- include('./include/end.ejs') -%>