<%- include('./include/dashboardhead.ejs') -%>

    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">


            <!-- Basic Bootstrap Table -->
            <div class="card">
              <div class="card-body">
               
                <div class="table-responsive text-nowrap p-4">
                    <table class="table" id="example">
                        <thead>
                            <tr>
                              <th>Property Id</th>
                                <th>Property Name</th>
                                <th>Property</th>
                                <th>Listed for</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="table-body">
                          <!-- Data will be populated here -->
                      </tbody>
  </table>

</div>
</div>
</div>
<!--/ Basic Bootstrap Table -->

</div>
<!-- / Content -->

<!-- Footer -->

<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>


<script>
  $(document).ready(function () {
    var routeName = '<%= route %>';
    var geturl =  routeName=='featured' ?'featuredpropertieslist':'propertieslist'  // Assuming you're passing this variable from EJS
    var buttonname =  routeName=='featured' ?'Remove From Featured':'Add To Featured'  // Assuming you're passing this variable from EJS

    var dataTable = $('#example').DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: 'https://www.safehomes.ae/admincontroller'+geturl, // Replace with your API endpoint
        dataSrc: 'data', // Key that holds the array of data in the API response
        data: function (d) {
          // Add any additional parameters you want to send to the server here
        },
      },
      columns: [
        {data: 'uniqueId'},
        { data: 'plName' },
        { data: 'plPropertyType' },
        { data: 'plPropertySaleRent' },
        { data: 'plCountry' },
        { data: 'plExpeactedPrice' },
        {
          data: null,
          render: function (data, type, row) {
            return `<div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item featured-button" href="javascript:void(0);"><i class="bx bx-star me-1"></i>${buttonname} </a>
                <a class="dropdown-item" href="/admincontrollereditproperties?id=${row._id}"><i class="bx bx-edit me-1"></i> Edit /View </a>
                <a class="dropdown-item delete-btn" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>`;
          },
        },
      ],
      error: function (xhr, error, thrown) {
    console.log('DataTables Error:', error);
    console.log('XHR Object:', xhr);
    console.log('Thrown Error:', thrown);
      },
    });

    // Delete Button Click Event
    function deleteData(id) {
    $.ajax({
      url: `https://www.safehomes.ae/admincontrollerdeleteproperty/${id}`,
      type: 'DELETE',
      success: function (response) {
        dataTable.ajax.reload();
      },
      error: function (error) {
        console.error('Error deleting data:', error);
      },
    });
  }

  function toggleFeatured(id, isFeatured) {
    var formDataObj = { id: id, status: isFeatured ? 'notfeatured' : 'featured' };

    $.ajax({
      url: `https://www.safehomes.ae/admincontrolleraddfeatured`,
      type: 'POST',
      data: JSON.stringify(formDataObj),
      contentType: 'application/json',
      success: function (response) {
        dataTable.ajax.reload();
      },
      error: function (error) {
        console.error('Error updating data:', error);
      },
    });
  }

  $('#example').on('click', '.delete-btn', function () {
    var data = dataTable.row($(this).closest('tr')).data();
    var id = data._id;
    deleteData(id);
  });

  $('#example').on('click', '.featured-button', function () {
    var data = dataTable.row($(this).closest('tr')).data();
    var id = data._id;
    
    if (routeName === 'featured') {
      toggleFeatured(id, true); // Remove from Featured
    } else if (routeName === 'properties') {
      toggleFeatured(id, false); // Add to Featured
    }
  });
 });
</script>


                                    
                                        <%- include('./include/end.ejs') -%>